@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@theme {
  --color-white: #ffffff;
}

body {
  font-family: "Source Sans 3", serif;
}

.input-error {
  border-color: red;
}
